__pycache__/check_availability.cpython-311.pyc
__pycache__/get_mp3.cpython-311.pyc
__pycache__/prepare_text.cpython-311.pyc
__pycache__/TEXTS.cpython-311.pyc
__pycache__/TOK.cpython-311.pyc
.env
venv/